/* Styles généraux */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Styles de l'en-tête */
header {
    display: flex;
    align-items: center; /* Aligne les éléments verticalement */
    background-color: #eac7ab;
    padding: 0px; /* Ajustez la marge autour de l'en-tête */
}

/* Styles du logo */
header img {
    max-width: 100px; /* Ajustez la taille du logo */
    height: auto; /* Conserve le ratio d'aspect */
    margin-right: 20px; /* Marge à droite du logo */
}

/* Styles de la navigation */
nav {
    width: 100%; /* Prend toute la largeur */
    font-family: "Bad Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    margin-right: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Aligne les éléments à droite */
}

nav li {
    padding: 20px; /* Espace autour des éléments */
}

nav a {
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent; /* Bordure transparente par défaut */
    padding: 5px 10px; /* Espace autour du texte */
    transition: border-color 0.2s, border-width 0.2s; /* Animation de la couleur et de la largeur de la bordure */
}

nav a:hover {
    border-color: #fff; /* Couleur de la bordure au survol (blanc) */
    border-width: 4px; /* Augmente la largeur de la bordure au survol */
    background-color: rgba(255, 255, 255, 0.1); /* Optionnel : ajout d'un fond légèrement transparent au survol */
}


.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #ffffff27;
    backdrop-filter: blur(10px);
    box-shadow: -10 0 10 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button{
    display: none;
}

@media(max-width: 900px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}


body {
    background: rgba(0, 0, 0, 0.7) url(./background.jpg);
     background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-blend-mode: darken;
    
    
}

html body {
    height: 100%;
    margin: 0;
}

h1 {
    justify-content: center;
    text-align: center;
    font-family: "Bad Script", cursive;
    color: #eac7ab;
    font-size: 50px;
    font: bold;

}

p {
    color: #eac7ab;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    
}

h2 {
    color: #eac7ab;
    font-family: "Bad Script", cursive;
    margin-left: 50px;
}

.container {
    position: relative;
}

.container .wrapper {
    width: 50vw;
    height: 65vh;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0);
    margin: 5rem auto;
    overflow: hidden;
}

.container .wrapper-holder {
    display: grid;
    grid-template-columns: repeat(4, 100%);
    height: 100%;
    width: 100%;
    animation: slider 30s ease-in-out infinite alternate;
}

.container #slider-image-1{
    background-image: url(./images/Photo\ Bouc.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    
}
.container #slider-image-2{
    background-image: url(./images/Oiseau.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    
}
.container #slider-image-3{
    background-image: url(./images/Chat.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}
.container #slider-image-4{
    background-image: url(./images/Poules.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}

.container .button-holder .button {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}

.container .button-holder{
    position: absolute;
    left: 45%;
    bottom: 0%;
}

.button:hover{
    box-shadow: 0px 0px 7px 4px rgba(236, 174, 138, 0);
}

@keyframes slider{
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%);}
    60%{transform: translateX(-300%);}
    70%{transform: translateX(-300%);}
    80%{transform: translateX(-300%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}